.header-top
  position: relative
  background-image: url("../Images/header.png")
  background-position: center center
  background-repeat: no-repeat
  background-attachment: local
  background-size: cover
  background-blend-mode: color
  object-fit: scale-down
  color: white
  height: 480px
  width: 620
  background-color: black
  text-align: left
  font-size: 50px
  font-style: italic
  padding-left: 100px
