.navigation_bar
    display: inline


ul.nav li
    display: block
    list-style: none
    padding: 10px 10px 0px
    float: left

    a
      color: #000000
      text-decoration: none

    a.active
      background-color: #4CAF50
      color: white

    a:hover:not(.active)
      background-color: #555
      color: white
