.navigation_section
  display: inline

.nav
    text-align: center


    a
      color: #000000
      text-decoration: none

    a.active
      background-color: inherit

    a:hover:not(.active)
      background-color: #555
